body{ margin: 0%;
padding: 0%;

}
.container{background-image: linear-gradient(80deg ,rgb(70, 222, 32) , rgb(0, 195, 255));
width: 100%;
min-height: 100vh;
padding: 10px;}

.body_elements{background-color: white;
width: 100%;
max-width: 480px;
border-radius: 11px;
padding: 20px;
margin: 100px auto 70px;

}
.body_elements h2{
    display: flex;
    padding-bottom: 20px;
    align-items: center;
}
.body_elements h2 img{width: 40px;
margin-left: 20px;}

.form{display: flex;
align-items: center;
justify-content: space-between;
background-color: rgb(237, 236, 235);
border-radius: 30px;
padding-left: 20px;
margin-bottom: 25px;}

input{
    flex: 1
    ;
border: none;
outline: none;
background: transparent;
padding: 10px;
}
button{border: none;
outline: none;
padding: 16px 40px;
background-image: linear-gradient(80deg , rgb(0, 195, 255),rgb(70, 222, 32) );
border-radius: 40px;
cursor: pointer;
color: white;
font-size: 16px;}

ul li{
    list-style: none;
    font-size: 18px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked{color:#555;
text-decoration: line-through;}

ul li.checked::before{background-image: url(images/pngwing.com.png);}
ul li span{position:absolute;
right: 0;
top: 5px;
width: 40px;
height: 40px;
font-size: 22px;
color: #555;
line-height: 40px;
text-align: center;
border-radius: 50%;}
ul li span:hover{background-color: #edeef0;}

